@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: rgb(204,201,220);
  background: linear-gradient(68deg, rgba(204,201,220,1) 0%, rgba(214,201,220,1) 50%, rgba(220,204,201,1) 100%);
  font-size: x-large;
}

div {
  color: white;
}

@layer {
  .oxfordGradient {
    @apply bg-gradient-to-l from-paletteOxfordBlue to-paletteRichBlack;
  }
}

@layer components {
  .nav-link {
    @apply transition-all hover:text-paletteCharcoal duration-500;
  }
  .purpleGradient {
    @apply gradient-to-r from-violet-400 via-fuchsia-500 to-purple-700;
  }
}